#posts-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}

#posts-container div {
    background-color: #1a1a1b;
    padding: 1em 2em;
    border-radius: 5px;
    border: solid 1px #343536;
}

#posts-container div h2 {
    font-size: 18;
    font-weight: 500;
}
#posts-container div p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14;
    font-weight: 400;
    padding-top: 1em;
}
#posts-container div h4 {
    font-size: 12px;
    font-weight: 700;
    color: #757575;
    padding: 1em;
}

/* Animations */
#posts-container div:hover {
    border: solid 1px #464748;
}
