* {
    margin: 0;
    padding: 0;
}

#wrapper-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2em;
    background-color: #030303;
    color: #d7dadc;
    min-height: 100vh;
    padding: 1em 2em;
}

#sidebar-menu {
    display: flex;
    align-self: flex-start;
    height: 80vh;
    overflow: auto;
}

#main-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#sidebar-right {
    display: flex;
}

/* INFO
FONTS
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;

COLORS
background-color: #030303;
elements: #1a1a1b
highlighted elements: buttons, input fields: #29292b;
borders: #343536
text color: #d7dadc
text grey color: #757575;

Animations:
border:hover high: #d7dadc
border:hover other: #808384
buttons:hover: #464748

*/
